<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3e086eb4-2488-4ad9-bd9f-641fb4f6e445/resourceGroups/equipment-database/providers/Microsoft.Web/sites/equipment-database</ResourceId>
    <ResourceGroup>equipment-database</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://equipment-database.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>equipment-database.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>equipment-database</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$equipment-database</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProjectContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:equipment-server.database.windows.net,1433;Initial Catalog=equipment-sql-database;User ID=phollera@equipment-server.database.windows.net;Password=4BqddGHH32ZssqjSmWQVpIKck" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EquipmentDatabase.DAL.ProjectContext, EquipmentDatabase" MigrationConfiguration="EquipmentDatabase.Migrations.Configuration, EquipmentDatabase" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProjectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:equipment-server.database.windows.net,1433;Initial Catalog=equipment-sql-database;User ID=phollera@equipment-server.database.windows.net;Password=4BqddGHH32ZssqjSmWQVpIKck</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProjectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:equipment-server.database.windows.net,1433;Initial Catalog=equipment-sql-database;User ID=phollera@equipment-server.database.windows.net;Password=4BqddGHH32ZssqjSmWQVpIKck</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>