<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/098c5fcc-0ff3-4d3b-a46b-59ca16db0bb9/resourceGroups/myWebAppWithSql2/providers/Microsoft.Web/sites/myWebAppWithSql2</ResourceId>
    <ResourceGroup>myWebAppWithSql2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mywebappwithsql2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mywebappwithsql2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myWebAppWithSql2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myWebAppWithSql2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProjectContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:server-for-webappwithsql2.database.windows.net,1433;Initial Catalog=studentEquipmentDatabase;User ID=hpauriclogin@server-for-webappwithsql2.database.windows.net;Password=2vM2pAG7LHVw" Name="Data Source=tcp:server-for-webappwithsql2.database.windows.net,1433;Initial Catalog=studentEquipmentDatabase;User Id=hpauriclogin@server-for-webappwithsql2.database.windows.net;Password=2vM2pAG7LHVw;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EquipmentDatabase.DAL.ProjectContext, EquipmentDatabase" MigrationConfiguration="EquipmentDatabase.Migrations.Configuration, EquipmentDatabase" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ProjectContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:server-for-webappwithsql2.database.windows.net,1433;Initial Catalog=studentEquipmentDatabase;User Id=hpauriclogin@server-for-webappwithsql2.database.windows.net;Password=2vM2pAG7LHVw;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>