@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<div class="row padding-x-md">
    <img class="img-responsive" src="~/Content/Images/pauric-350.png" alt="Pauric Holleran">
</div>

<div class="row padding-x-md">

    <p class="about-page">Equip was created by Pauric Holleran to track equipment assigned to students in UCD.</p>
    <p class="about-page">It was created with ASP.NET, jQuery and Entity Framework.</p>
    <p class="about-page"><a href="http://www.pauricholleran.com/#contact">Contact Pauric</a></p>
    </div>
 

    
