@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Equip was created by Pauric Holleran to track equipment assigned to students in UCD.</p>

<p>It was created with ASP.NET and Entity Framework.</p>

<div>
    <img class="img-responsive" src="images/about/pauric-470.png" alt="Pauric Holleran"> 
</div>

<p><a href="http://www.pauricholleran.com/#contact">Contact Pauric</a></p>
