@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-fluid" src="~/Content/Images/notebook-1361981_960_720.jpg"/>
    <h1>Equip</h1>
    <p class="lead">Track equipment assigned to students.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            View an overview of all students registered and equipment assigned to them. Check details, add students and assign equipment.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Student")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Equipment</h2>
        <p>View all equipment in the repository. Add equipment in batches or one by one. Edit equipment details and add notes. </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Equipment")">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>History</h2>
        <p>View the history of student equipment assignments</p>
        <p><a class="btn btn-default" href="">Coming soon...</a></p>
    </div>
</div>